.DS_Store
Pipfile
Pipfile.lock
/Example_Project_ML
poetry.lock
pyproject.toml
deliverables/SomIteration.ipynb
/deliverables/cluster_with_log_transform.ipynb
/Dashboard_example_Marco

/deliverables/PCA_Plot_test.ipynb
/previous_projects